#container{
	width: 960px;
	margin:25px auto;
	border:1px solid #f0f0f0;
	background: #ffffff;
	border-radius:15px 15px 0 0;
}


#content1{
	width:800px;
	margin:auto;
	text-align: left;
	border:0px solid silver;
	
}

#request_header {
	float:left;
	color:#666666;
	font-size:10pt;
	font-weight:lighter;
	margin-left:150px;
	
	
}

#request_title {
	margin:10px 150px 0px 250px;
	
	width:255px;
	height:23px;
	font-size: 10pt;
	font-weight: lighter;
	text-transform: lowercase;
}

#request_text {
	margin:10px 0px 0px 250px;
	
	width:500px;
	height:23px;
	font-size: 10pt;
	font-weight: lighter;
	text-transform: lowercase;
}

#request_button {
	
	width:90px;
	margin:20px 0 0 250px;
	
}

#request_type {
	font-size:8pt;
	margin:2px 0 0 250px;
	width:200px;
	
}

#error 
{
	color:green;
}

#alert {
	width:120px;
	
	margin-left:250px;
	margin-top:0;
	padding:0;
	
	font-size:8pt;
	color:red;
	
}

	
input[type=text]{
	width: 250px;
	margin-bottom:10px;
}

input[type=submit], #register{
	background:#f0f0f0;
	color: #666666;
	border:1px solid silver;
	height: 35px;
}

input[type=submit]:HOVER, #register{
	background: white;
}

#rqs_text {
	width: 500px;
}






#content2 {
	width:100%;
	margin-top:50px;
	border-top: 1px solid #f0f0f0;
}

#content2 p {
	font-size: 12pt;
	text-align: center;
}

#history {
	width: 100%;
	border-top: 1px solid red;
	
}

#message {
	border-spacing: 0;
}
#message tr:nth-child(1) {
	text-align: center;
	}
	
#message tr:nth-child(odd) {
	background: #f0f0f0;
}

#message tr:HOVER {
	background: #FFA0A0;
}

#message a {
	text-decoration: none;
	color:#666666;
	
}

#message a:HOVER {
	text-decoration: underline;
	
	
}


#viewRequest {
	width: 800px;
	margin:auto;
	font-family:inherit;
	border:1px solid #f0f0f0;
	
	}
#view {
	border-spacing:10px;
	font-size:11pt;
	font-weight:lighter;
	font-family:monospace;
	width: 100%;
}
#view tr.header{
	font-size:9pt;
	background: #f0f0f0;
	border-spacing:0;
	}

#editprofile{
	margin-left:35%;
	margin-top: 1%;
	margin-bottom: 1%;
}




#reception {
	width:100%;
	border-spacing:0px;
		
}

#reception a:hover{
	
}

#reception tr:nth-child(odd) {
	background:#ffffff;
}

#reception td {
	border-bottom:0px solid #f0f0f0;
	vertical-align: top;
}



#first {
	background:#f0f0f0;	
	font-weight: bolder;
	
}


#textmsg {
	background:#f0f0f0;
	border:1px dashed silver;
	padding: 15px 10px 15px 10px;
	width:97%;

}

#last {
	padding: 50px;
}

#empty {
	width: 70%;
	margin: 40px;
}


#edit_reception{
	width:100%;
	letter-spacing:0.1em;
	font-family:sans-serif;
	font-size:10pt;
	
}

#edit_reception td {
	padding:10px 0px 10px 0px;
	vertical-align: top;
	
}

#main {
	background:#fff;
	text-align:left;
	margin:20px 190px 5px 180px;
	
}	
	
}
#main p{
	font-family:"trebushet ms",verdana;
	letter-spacing: 0.1em;
	font-size:15pt;
}

/*.edit {
	font-family:"trebushet ms",verdana;
	text-decoration: none;
	color:silver;
}
.edit:VISITED {
	font-family:"trebushet ms",verdana;
	text-decoration: none;
	color:silver;
}

.edit:HOVER {
	font-family:"trebushet ms",verdana;
	color:#333;
	text-decoration: underline;
}


*/
.delete {
	text-decoration: none;
	border-bottom: 0px dotted #333;
	color:silver;
	font-size:10pt;
}
.delete:hover {
	text-decoration: none;
	border-bottom: 0px dotted #333;
	color:#333;
	font-size:10pt;
}

#center {
	margin:10px 10px 10px 30%;

}


#comments {
	font-size: 8pt;
	font-family: cursive;
	text-transform: lowercase;
	margin:0px 10px 0px 0px;
}
#counter 
{
	font-size: 10pt;
	text-align:right;
	text-transform: lowercase;
	font-family: cursive;
	letter-spacing: 0.2em;
	color:silver;	
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 5px;
}

#allreception {
	text-align: justify;
	font-size:10pt;
}

#allreception:HOVER {
	background:#fCfCfC;
	border-radius:5px;
}


#allreception a.reception{
	margin:0;
	padding:0;
	color:#1632B5;
	text-decoration: none;
}

#allreception a.reception:hover{
	color:#1632B5;
	text-decoration: underline;
}

#allreception ul{
	list-style: none;
	
	
		
}
#allreception li {
	vertical-align: top;
		
}




#titlereception {
	letter-spacing: 0.1em;
	font-weight:bold;
	text-transform: uppercase;
	color:#333;
	margin: 15px 0px 0px 5px;
	
}
#undertitle {
	font-weight: lighter;
	text-transform: lowercase;
	font-size: 8pt;
	color:silver;
	margin:10px 0px 10px 5px;
	
}

#request_test {
	font-weight: lighter;
	text-transform: lowercase;
	font-size:10pt;
	letter-spacing: 0.1em;
	font-family: monospace;
	color:slategray;
	margin: 1px 0px 0px 0px;
}

#category {
	font-weight: lighter;
	font-size:10pt;
	letter-spacing: 0.1em;
	font-family: monospace;
	margin-bottom: 5px;
	
}

#left_side {
	float:left;
	background: #ffffff;
	width: 150px;
	margin-left: 25px;
	border-right: 1px solid #f9f9f9;
}
#right_side {
	float:right;
	background: #ffffff;
	width: 150px;
	margin-right:35px;
	border-left: 1px solid #f9f9f9;
		
}

#workers {
	width:100%;
	text-align: left;
	margin-top:20px;
	font-size: 10pt;
	border-spacing: 0px;
	
}
#workers tr:hover {
	background: silver;
}
#workers td {
	text-align: left;
		
}

#workers caption {
	color: #ffffff;
	background: silver;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing:inherit;	
}

#workers a {
	color:#333;
	text-decoration: none;
}

#workers a:hover {
	color:#333;
	text-decoration: underline;
}

#main img {
	border:0px solid red;
	margin-left:2%;
	margin-bottom:10px;
	float:left;
	
	
}
#afterimage_h {
	font-size: 10pt;
	letter-spacing: 0.3em;
	background: #333;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 0;
	clear: both;
	text-align: right;
	
	
}
#afterimage_t {
	font-size: 10pt;
	letter-spacing: 0.3em;
	color:#333;
	text-transform: lowercase;
	margin-top:5px;
	margin-bottom: 2px;
	padding-right:2%;
	border:0px solid red;
	width:320px;
	float:right;
	text-align: right;
	
	
}

#r_title {
color:#369;
}

#request_title {
	color:#369;
	letter-spacing: 0.1em;
	font-weight: bold;
}

#keep_control {
	background:#f0f0f0;
	color: #666666;
	border:1px solid silver;
	height: 35px;
	text-decoration: none;
	
	padding:5px 5px 5px 5px;
	
}
#keep_control:HOVER {
	background:white;
	color: #666666;
	border:1px solid silver;
	height: 35px;
	text-decoration: none;
	
	padding:5px 5px 5px 5px;
	
}

#paginator{
	text-align: center;
	
}

#current_page{
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color:#1632B5;	
}
#pages a {
	text-decoration:none;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color:#1632B5;
	border-radius:5px;
	border:1px solid #f0f0f0;
	background: #f0f0f0;
	
}

#pages a:HOVER{
	background: #1632B5;
	color:#f0f0f0;
}

#first_page,#last_page {
	text-decoration:none;
	color:#1632B5;
}

#first_page:HOVER, #last_page:HOVER{
	text-decoration: underline;
}




#img {
	margin-right: 10px;
}

#header_h {
	margin-bottom: 50px;
	width: 100%;
	
}
#number_request {
	float:left;
	margin-left:25px;
	width: 40px;	
	background: #f0f0f0;
}

#status_request {
	float:left;
	width: 20%;	
	background: #f0f0f0;
	padding-left: 10px;
}

#user_request {
	float:left;
	width: 120px;	
	
}
#title_request
{
	float:left;
	width: 300px;
}

#type_request {	
	float:right;
	width: 110px;

}

#online{
	margin:0;
	padding:0;
	font-size: 8pt;
	color:green;
	font-weight: lighter;
}


#title {
	width: 120px;
	border:0px solid red;
	font-weight: bolder;
	float:left;
	
}

#desc {
	width:420px;
	margin-left:20px;
	margin-bottom:25px;
	border:0px solid red;
	float:left;
}

#edit {
	width:200px;
	margin-left:20px;
	margin-bottom:20px;
	border:0px solid red;
	float:left;
}

form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

.under {
	clear:both;
}
.green
{
	color:green;
}
.red
{
	color:red;	
}

#solution_title
{
	margin-left:25px;
	font-weight: lighter;
	font-size: 10pt;
	color:#333;
}

#solution_text
{
	margin-left:25px;
	font-weight: lighter;
	font-size: 10pt;
	color:#333;
}
#solution_title:HOVER {
	background: #f0f0f0;
}
#solution_text:HOVER {
	background: #f0f0f0;
}
